.cart{
    position: sticky;
    top: 80px;
}

.grandtotal{
    color: crimson;
    font-size: 18px
}
.cart-btn{
    background-color: #FF3030;
    color: #ffffff;
    width: 100%;
    border: none;
    border-radius: 8px;
    /* padding: px; */
    /* position: absolute; */
    /* bottom: 0; */
    display: flex;
    align-items: center;
    justify-content: center;


}
.clear-carttext{
    margin-right: 10px;
}

