.cart{
    position: sticky;
    top: 0;
}

.grandtotal{
    color: crimson;
    font-size: 20px
}
.cart-btn{
    background-color: #FF3030;
    color: #ffffff;
    width: 100%;
    border: none;
    border-radius: 8px;
    /* padding: px; */
    /* position: absolute; */
    /* bottom: 0; */
    display: flex;
    align-items: center;
    justify-content: center;


}
.clear-carttext{
    margin-right: 10px;
}
.review-order{
    background-color:  #FF9900;
    /* margin-top: 10px; */
    color: #ffffff;
    width: 100%;
    border: none;
    border-radius: 8px;
    /* padding: 8px; */
    /* position: absolute; */
    /* bottom: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.review-ordertext{
    margin-right: 10px;
}